.header-menu
{
	display:inline-block;
	background:#0074BB;	
	text-align:center;
}
.header-logo
{
	height:64px;	
	background:#0066A2;
	vertical-align:middle;
	outline:0px solid orange;
	border-style:none;
	pointer-events:none;
}
.header-logo:focus
{
  outline:0px solid orange;  
}

.header-cell
{
	display:table-cell;
	text-align:center;
	background:#0066A2;
	width:512px;
	min-width:312px;	
	/*width:100%;*/
	height:80px;
}
.header-cell a
{
	/*display:block;
	width:100%;
	height:100%;*/
	/*background:orange; /*for testing only*/
	outline:0px solid black;
	/*vertical-align:middle;*/
}

.theme-button-container
{
	display:block;
	position:absolute;
	width:100%;
	height:80px;
	margin-top:-80px;
	z-index:-1;
}
.theme-button-light
{
	display:block;
	float:right;	
	margin-top:11px;
	display:block;
	width:34px;
	height:26px;
	background:url(../images/light-theme-icon.png);
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-clip:border-box;
	background-origin:padding-box;
	background-position-x:center;
	background-position-y:center;
	background-size:10px;
	box-sizing:inherit;
	cursor:pointer;
}
.theme-button-light:hover
{
	background-color:#0088D3;
}
.theme-button-light:active
{
	background-color:#0066A2;
}
.theme-button-dark
{
	display:block;
	float:right;	
	margin-top:11px;
	display:block;
	width:34px;
	height:26px;
	background:url(../images/dark-theme-icon.png);
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-clip:border-box;
	background-origin:padding-box;
	background-position-x:center;
	background-position-y:center;
	background-size:10px;
	box-sizing:inherit;
	cursor:pointer;
}
.theme-button-dark:hover
{
	background-color:#0088D3;
}
.theme-button-dark:active
{
	background-color:#0066A2;
}

.maximize-button
{
	display:block;
	float:right;
	margin-right:11px;
	margin-top:11px;
	display:block;
	width:34px;
	height:26px;
	background:url(../images/maximize-icon.png);
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-clip:border-box;
	background-origin:padding-box;
	background-position-x:center;
	background-position-y:center;
	background-size:10px;
	box-sizing:inherit;
	cursor:pointer;
}
.maximize-button:hover
{
	background-color:#0088D3;
}
.maximize-button:active
{
	background-color:#0066A2;
}

@media screen and (max-width: 1300px)
{
	.header-cell
	{
		width:320px;		
	}
}

@media screen and (max-width:990px)
{
	.header-cell
	{
		height:48px;
		width:2000px;
	}
	.header-logo
	{
		height:48px;
	}
	.header
	{
		height:32px;
	}
	.header-menu
	{
		width:100%;
	}
	.header-menu-cell
	{
		width:2000px;
	}
}
