.hyperlink-default
{
	text-decoration:none;	
	color:#484848;
	outline:none;
}

.hyperlink-default:hover
{
	text-decoration:underline;
}

.hyperlink-highlight
{
	text-decoration:none;
	color:#0074BB;
	outline:none;
}

.hyperlink-highlight:hover
{
	text-decoration:underline;
}
