.light-theme .section-title
{
	color:#0074BB;
	background:#E6E6E6;
	font-size:24px;
	padding:10px;
	text-align:center;
	border-style:solid;
	border-width:1px 0px 1px 0px;
	border-color:#fff;
	text-decoration:none;
}
.dark-theme .section-title
{
	color:#0074BB;
	background:#404040;
	font-size:24px;
	padding:10px;
	text-align:center;
	border-style:solid;
	border-width:1px 0px 1px 0px;
	border-color:#343434;
	text-decoration:none;
}
.section-title a
{
	color:#0074BB;	
	text-decoration:none;
}
.section-title a:hover
{
	color:#0074BB;	
	text-decoration:underline;
}

.section-content
{
	text-align:center;
	border-width:0px;
}
.light-theme .section-content
{
	background:#fff;
}
.dark-theme .section-content
{
	background:#4D4D4D;
}

@media screen and (max-width:990px)
{
	.light-theme .section-title, .dark-theme .section-title
	{
		font-size:16px;
	}
}

@media screen and (max-width:380px)
{
	.light-theme .section-title, .dark-theme .section-title
	{
		font-size:12px;
	}
}
