.tab
{
	display:inline-block;
	width:148px;
	height:48px;
	cursor:pointer;
	vertical-align:middle;
	line-height:48px;
}

.tab-selected
{
	background:#fff;
	transition:.5s;	
}

.tab-content
{
	display:none;	
	margin:10px;
	min-height:300px;
}
